[submodule "_pudl"]
	path = _pudl
	url = https://github.com/darkain/pudl.git
[submodule "_tbx"]
	path = _tbx
	url = https://github.com/darkain/TinyButXtreme.git
[submodule "_altaform"]
	path = _altaform
	url = https://github.com/darkain/altaform-core.git
[submodule "_getvar"]
	path = _getvar
	url = https://github.com/darkain/getvar.git
[submodule "_closure"]
	path = _closure
	url = https://github.com/darkain/closure.git
