
#af-sidebar-parent {
	z-index:1;
	position:fixed;
	left:0;
	top:0;
	width:250px;
	height:100%;
	margin:0;
	padding:0;
	background:#023564;
	box-sizing:border-box;
}

@media print { #af-sidebar-parent { display:none; } }

#af-sidebar-list {
	width:100%;
	max-height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	display:none;
}

#af-sidebar-list:hover { overflow-y:auto; }

#af-sidebar-list * {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

#af-sidebar-list::-webkit-scrollbar,
#af-sidebar-page::-webkit-scrollbar {
	width:13px;
}

#af-sidebar-list::-webkit-scrollbar-thumb,
#af-sidebar-page::-webkit-scrollbar-thumb {
	border-radius:10px;
	background:#809AB1;
}

#af-sidebar-list,
#af-sidebar-page {
	scrollbar-color: #809AB1 rgba(0,0,0,0);
	scrollbar-width: 13px;
}


#af-sidebar-list a,
#af-sidebar-list span,
#af-sidebar-list hr,
#af-sidebar-result a {
	color:#fff;
	font-size:20px;
	height:40px;
	cursor:pointer;
	display:block;
	line-height:2em;
	padding:0 0 0 10px;
}

#af-sidebar-list div div,
#af-sidebar-list div a,
#af-sidebar-list div hr {
	margin-left:15px;
}

#af-sidebar-list a.af-sidebar-selected,
#af-sidebar-list hr.af-sidebar-selected,
#af-sidebar-list a.af-sidebar-selected:hover,
#af-sidebar-list hr.af-sidebar-selected:hover {
	background:rgba(200,200,255,0.3);
}

#af-sidebar-list div div.af-sidebar-open { height:auto; }

#af-sidebar-list div.af-sidebar-open:nth-child(even) {
	background:rgba(255,0,0,0.2);
}

#af-sidebar-list div.af-sidebar-open:nth-child(odd) {
	background:rgba(0,255,0,0.2);
}

#af-sidebar-list hr {
	border-color:red;
	background:rgba(255,255,255,0.2);
	margin:0 0 0 30px;
	padding:0;
	height:1px;
}

#af-sidebar-list a:hover,
#af-sidebar-list span:hover,
#af-sidebar-result a:hover {
	background:rgba(0,0,0,0.2);
}

#af-sidebar-list i {
	display:inline-block;
	font-size:0.6em;
	width:15px;
	margin-left:-2px;
	vertical-align:top;
	-webkit-transition: -webkit-transform 0.3s linear 0s;
	-moz-transition: -moz-transform 0.3s linear 0s;
	transition: transform 0.3s linear 0s;
}

#af-sidebar-body {
	z-index:0;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:250px;
	box-sizing:border-box;
	margin:0;
	padding:0;
	overflow:hidden;
	background:#eef;
}

@media print { #af-sidebar-body { position:relative; left:0; } }

#af-sidebar-page {
	width:100%;
	min-width:100%;
	max-width:100%;
	height:100%;
	min-height:100%;
	max-height:100%;
	overflow:auto;
	padding:0;
	margin:0;
	box-sizing:border-box;
}

@media print { #af-sidebar-body {
	height:auto;
	min-height:auto;
	max-height:auto;
}}
