button,
.button,
.button:link,
.button:visited,
#popup-window .ui-button,
input[type=submit],
input[type=button],
input[type=reset] {
	background: #fff;
	background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #777;
	cursor: pointer;
	font: normal 12px/20px Arial, Tahoma, Verdana, sans-serif;
	outline: none;
	padding: 4px 6px;
	text-align: center;
	text-decoration: none;
	line-height: 14px;
	text-shadow:0 0 2px #fff;
}



button:hover,
.button:hover,
.button:focus,
.button:active,
#popup-window .ui-button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover {
	background: #ededed;
	background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 100%);
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}



/*******************************/


button .ui-button-text-only .ui-button-text {
	padding:0;
	margin:0;
}

button.ui-state-default {
	background:inherit;
}


/*******************************/

.red.button, .red.button:visited {
	background: #e33100;
	background: linear-gradient(to bottom, #ffcccc 0%,#e33100 100%);
	border-color:#f88;
	color:#800;
}

.red.button:hover {
	background: #872300;
	background: linear-gradient(to bottom, #ffcccc 0%,#872300 100%);
	border-color:#f88;
	color:#000;
}


.yellow.button, .yellow.button:visited {
	background: #e3e300;
	background: linear-gradient(to bottom, #ffffcc 0%,#e3e300 100%);
	border-color:#ff8;
	color:#800;
}

.yellow.button:hover {
	background: #878700;
	background: linear-gradient(to bottom, #ffffcc 0%,#878700 100%);
	border-color:#ff8;
	color:#000;
}


.green.button, .green.button:visited {
	background: #31e300;
	background: linear-gradient(to bottom, #ccffcc 0%,#31e300 100%);
	border-color:#8f8;
	color:#080;
}

.green.button:hover {
	background: #238700;
	background: linear-gradient(to bottom, #ccffcc 0%,#238700 100%);
	border-color:#8f8;
	color:#000;
}


.blue.button, .blue.button:visited {
	background: #003461;
	background: linear-gradient(to bottom, #005fae 0%,#003461 100%);
	border-color:#005fae;
	color:#fff;
	text-shadow:0 0 2px #000;
}

.blue.button:hover {
	background: #00213d;
	background: linear-gradient(to bottom, #005fae 0%,#00213d 100%);
	border-color:#88f;
	color:#ccf;
}

.blue.button:hover img {opacity:0.8}
