ul.droplist {
	display:block;
	overflow:visible;
	height:1em;
	list-style-type:none;
	max-height:500px;
	width:200px;
	padding:0;
	margin:0;
}

.droplist-narrow ul.droplist {
	width:100px;
}

ul.droplist_active {
	background:#1B1B53;
	z-index:10;
	position: absolute;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow:0 0 10px #000;
}

ul.droplist li {
	position:relative;
	padding:1px 3px;
	cursor:pointer;
	white-space: nowrap;
}

ul.droplist_active li {
	z-index:11;
	background:#1B1B53;
	color:#fff;
}

ul.droplist_active li.selected { background:#4B4B83; }

ul.droplist li.unselected { display:none; }
ul.droplist_active li, ul.droplist_active li.unselected { display:block; }
ul.droplist_active li:hover { display:block; background:#fff; color:#1B1B53 }
